* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f5f5ff;
  color: #091E42;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  background: #fff;
}
.brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-name {
  color: #6070ff;
  font-weight: 700;
  padding-left: 15px;
}
.brand img{
  border-radius: 50%;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #344563;
  font-weight: 500;
}

#first-portfolio {
   position: relative;
  background: url("images/Header bg@2x.png") no-repeat center;
  background-size: cover;
  padding: 8rem 10%;
  text-align: left;
  border-bottom-left-radius: 70px;
}

#first-portfolio h1 {
  font-size: 48px;
  line-height: 60px;
}

#first-portfolio p {
  margin: 1.5rem 0;
  color: #344563;
}

.connect-link {
  color: #6070ff;
  font-weight: 600;
  text-decoration: none;
}

.social-icons img {
  margin: 0.5rem 0.3rem;
}

.social-icons img {
  width: 24px;               
  height: 24px;
  cursor: pointer;
}

#portfolio {
  padding: 4rem 10%;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.project-card.reverse {
  flex-direction: row-reverse;
}

.project-card img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.project-info {
  flex: 1;
  padding: 2rem;
}

.project-info h2 {
  color: #091E42;
}
.tags{
  padding-top: 10px;
}
.tags span {
  background: #ebebff;
  color: #6070ff;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 0.5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  background: #fff;
  border: 1px solid #6070ff;
  color: #6070ff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}


#about {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background: #fff;
  padding: 6rem 10%;
  border-top-right-radius: 70px;
}

.about-content {
  flex: 1;
}

.skills {
  flex: 1;
}

.skills ul {
  list-style: none;
  margin-top: 1rem;
}

.skills li {
  background: #ebebff;
  color: #6070ff;
  display: inline-block;
  margin: 0.3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.connect-link {
  padding-top: 15px;
}

.skills h3{
  margin-top: 10px;
}

#contact{
  background: #6070ff;
  color: #fff;
  text-align: center;
  padding: 6rem 10%;
  border-top-right-radius: 100px;
}

#contact h2 {
  font-size: 36px;
}

#contact p {
  margin: 12px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}

textarea {
  min-height: 200px;
}

form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #6070ff;
  border: none;
  cursor: pointer;
}

